@use "../variables" as *;
@use "../mixins" as *;

.couple {
    background: url('../../assets/images/savethedate_bottom_bg.webp') no-repeat 0% 110%/contain,
                url('../../assets/images/savethedate.webp') no-repeat bottom/contain;
    max-width: 500px;
    width: 100%;
    aspect-ratio: 500 / 890;

    h2 {
        font-size: 16.66px;
        font-weight: 300;
        color: $secondary-color;
        padding-bottom: 6%;
    }

    .couple-photo {
        max-width: 200px;
        width: 100%;
        aspect-ratio: 200 / 293;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .save-the-date {
        margin: 10% 0;
        p {
            font-family: '1FTV-VIP-Bengoda', sans-serif;
            color: #2c2722ff;
            font-weight: 300;
            transform: rotate(-5deg);
            font-size: 40px;
        }
    }

    .subtext {
        padding: 0 12%;
        p {
            line-height: 180%;
            text-align: center;
        }
    }

    .date-time {
        color: $secondary-color;
        padding: 8% 0;
        .date {
            font-size: 37px;
        }
        .time {
            font-size: 24px;
        }
    }

    .countdown {
        display: flex;
        justify-content: center;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        border-style: dashed;
        padding-top: 1%;
        padding-bottom: 2%;
        width: 70%;

        .item {
            width: 100%;
            padding: 0 5%;
            p.value {
                font-size: 39px;
            }

            p.title {
                font-size: 8.4px;
                text-transform: uppercase;
            }
        }
    }
    
    @media (max-width: 500px) {
        h2 {
            font-size: calc((16.66px / 500px) * 100vw);
        }

        .couple-photo {
            max-width: 40vw;
        }
    
        .save-the-date {
            p {
                font-size: calc((40px / 500px) * 100vw);
            }
        }
    
        .subtext {
            p {
                font-size: calc(($base-font-size / 500px) * 100vw);
            }
        }

        .date-time {
            .date {
                font-size: 7.5vw;
            }
            .time {
                font-size: 4.8vw;
            }
        }

        .countdown {
            .item {
                p.value {
                    font-size: 7.8vw;
                }
    
                p.title {
                    font-size: 1.8vw;
                }
            }
        }
    }
}
