@use "../variables" as *;
@use "../mixins" as *;

.greeting {
    background: url('../../assets/images/greeting.webp') no-repeat center/cover;
    max-width: 500px;
    width: 100%;
    aspect-ratio: 500 / 890;

    .content {
        width: 100%;
        h2 {
            font-size: 23px;
            font-weight: 600;
            color: $secondary-color;
            padding-bottom: 10%;
        }

        p {
            text-align: justify;
            text-align-last: center;
            line-height: 180%;
            padding: 0 20% 10%;
        }

        .signature {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 58%;
            margin: 0 auto;

            .img-box {
                @include flex-center;
                margin: 0 8%;
                width: 10%;
                img.logo-couple {
                    width: 45px;
                    height: auto;
                }
            }

            
            .wife-name, .husband-name {
                @include flex-center;
                font-size: 23px;
                font-family: '1FTV-VIP-Bengoda', sans-serif;
                font-weight: 300;
                color: $secondary-color;
                line-height: 1;
                width: 45%;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            h2 {
                font-size: calc((22px / 500px) * 100vw);
            }
    
            .signature {
                .wife-name, .husband-name {
                    font-size: calc((23 / 500) * 100vw);
                }

                .img-box {
                    img.logo-couple {
                        width: calc((45 / 500) * 100vw);
                    }
                }
            }
        }
    }
}