@use "variables" as *;
@use "mixins" as *;

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-main;
    color: $primary-color;
    font-size: 13px;
    @include flex-center;
    overflow-x: hidden;
}

section {
    width: 100%;
    // height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    box-shadow: $shadow-default;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    opacity: 0.95;
    position: absolute;
    top: 0;
    z-index: 100000;
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
    display: block;
}

.navbar-container {
    display: block;
    position: relative;
    height: 50px;
}

.navbar-container input[type="checkbox"] {
    position: fixed;
    display: block;
    max-width: 30px;
    width: 100%;
    aspect-ratio: 30 / 23;
    top: 15px;
    right: calc(50% - 250px + 15px);

    /* Đổi từ left sang right */
    z-index: 5;
    opacity: 0;
}

.navbar-container .hamburger-lines {
    display: block;
    max-width: 30px;    
    width: 100%;
    aspect-ratio: 30 / 23;
    position: fixed;
    top: 15px;
    right: calc(50% - 250px + 15px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    background: $secondary-color;
}

.navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 100px;
    padding-left: 2%;
    background: rgba(211, 209, 206, 0.844);
    height: 100vh;
    width: 300px;
    max-width: 300px;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    position: fixed;
    right: calc(50% - 250px);
    top: 0;
    opacity: 0;
}

.navbar .menu-items li {
    list-style: none;
    padding: 1rem;
    font-size: .9rem;
}

.navbar .menu-items li a {
    text-decoration: none;
    color: $primary-color;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
    position: relative;
}

.navbar .menu-items li a:hover {
    color: #806d34;
}

.navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
    opacity: 1;
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(42deg);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-42deg);
}

@media (max-width: 500px) {
    body {
        font-size: calc((13 / 500) * 100vw);
    }
    .navbar-container input[type="checkbox"] {
        top: 1.6%;
        right: 2.2%;
        max-width: 6vw;
    }

    .navbar-container .hamburger-lines {
        top: 1.6%;
        right: 2.2%;
        width: 6vw;
    }
    
    .navbar-container .hamburger-lines .line {
        // height: 2px;
    }
    
    .navbar .menu-items {
        // width: 60%;
    }

    .navbar .menu-items li {
        padding: 5% 6%;
        font-size: 2.9vw;
    }

}
