@font-face {
    font-family: "1FTV-VIP-Bengoda";
    src: url("../../assets/fonts/1FTV-VIP-Bengoda.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LORA-ITALIC-VARIABLEFONT_WGHT";
    src: url("../../assets/fonts/LORA-ITALIC-VARIABLEFONT_WGHT.TTF") format("TTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url("../../assets/fonts/LORA-VARIABLEFONT_WGHT (2).TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
