$shadow-default: 0 10px 30px rgba(0, 0, 0, 0.309);
$radius: 15px;

// Colors
$primary-color: #2c2722ff;
$secondary-color: #5a3a21ff;
$bg-color: #fff;

// Font
$font-main: 'Lora', sans-serif;
$base-font-size: 9.33px;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
